img {
    width: auto;
    height: 160px;
}

.header {
    font-family: 'Koulen', cursive;
}

.interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em;
    padding: 1em;
}

.character-details {
    margin-right: 20px;
    margin-left: 20px;
    width: 20%;
}