body {
    padding: 0;
    background-image: url(./img/pokemon-ball-g8da01aeac_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: auto;
    height: 160px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-family: 'Koulen', cursive;
    margin: 10px 2rem;
    color: #fff;
}

.title-main {
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    font-weight: 400;
}

.logo-name {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

.interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.character-details {
    margin-top: 1em;
    margin-right: 20px;
    margin-left: 20px;
    width: 27%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}