/*esto es para instalar fuentes*/

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu-Light.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu-Medium.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(fonts/CormorantGaramond-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(fonts/CormorantGaramond-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(fonts/CormorantGaramond-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Staatliches;
    src: url(./fonts/Staatliches-Regular.ttf);
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
}

.enemies-bg,
.index-bg {
    min-height: 100vh;
    background-image: url(./img/pokemon-ball-g8da01aeac_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: auto;
    height: 160px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-family: Staatliches, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 2rem 10px 2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
}

.title-main {
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    font-weight: 400;
}

.logo-name {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

.interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.centrar-tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.character-details,
.battelfield-details {
    margin-top: 1em;
    margin-right: 5px;
    margin-left: 20px;
    width: 27%;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.next {
    margin-top: 3em;
    display: flex;
    min-height: 3em;
}

.next-btn,
.back-btn {
    font-size: 20px;
    padding: 1em 7em;
    background-color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    /*    display: block; */
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    margin-bottom: 2em;
}


/* ESTILOS DEL CAMPO DE BATALLA */

.battelfield-bg {
    background-image: url(./img/astronomy-g38666f8cd_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.battelfield-details img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}


/* MASTER Styles */

.master-bg {
    background-image: url(./img/adventure-gdf8f4a4b7_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
}

.column {
    display: flex;
    flex-direction: column;
}

.btn-submit {
    padding: 0.8rem 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.55);
    background: white;
    text-align: center;
}

.start-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: none;
    padding: 1rem 10rem;
    line-height: 32px;
    font-size: 24px;
}

.master-input {
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    min-width: 320px;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.master-input {
    outline: white;
    border-color: #fff;
}


/* estilos de la pantalla de opciones de inicio */

.option-bg {
    background-image: url(./img/option-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110vh;
}


/* AQUI COMIENZ EL RESPONSIVE */


/* este es para tablet */

@media (max-width: 1024px) {
    .character-details,
    .battelfield-details {
        width: 40%;
    }
    .next-btn,
    .back-btn {
        font-size: 16px;
        padding: 0.7em;
        min-width: 70px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .character-details,
    .battelfield-details {
        width: 89%;
        margin-right: 10px;
        margin-left: 10px;
    }
    .character-details h3 {
        text-align: center;
    }
    .start-description {
        padding: 0 2rem;
        font-size: 16px;
        font-weight: normal;
    }
    .master-bg {
        min-height: 132vh;
    }
}

@media (max-width: 380px) {
    .start-description {
        padding: 0 1rem;
        font-size: 14px;
        font-weight: normal;
        margin-top: -20px;
    }
    .master-input {
        min-width: 250px;
        font-size: 12px;
        margin-bottom: 20px;
    }
}